<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <article>
            <ul>
                <li>Título: {{ livro.titulo }}</li>
                <li>Autor: {{ livro.autor }}</li>
                <li>Ano de Publicacão: {{ livro.ano_publicacao }}</li>
                <li>Descrição: {{ livro.descricao }}</li>
            </ul>
        </article>
    </section>
    
</body>
</html>