
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C R U D</title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/main.css' %}" >
</head>

<body>
    <div id="title-header">
    <h1>
        <i><mark>Biblioteca de Livros</mark></i>
    </h1>
</div>

    <hr>
    <br>
    <section>
        <ol>
            {% for i in lista_crud %}
        <li>
            <article>
                <h2>{{ i.titulo }}</h2>
                <h3>{{ i.autor }}</h3>
                    <p>Data de Publicação: {{ i.ano_publicacao }}</p>
                    <p>{{ i.descricao }}</p> 
                        <div id="card-page1">
                            <a href="{% url 'criar' %}">Criar</a>
                        </div>
                        <div id="card-page2">
                            <a href="{% url 'atualizar' i.pk %}">Atualizar</a>
                        </div>
                        <div id="card-page3">
                            <a href="{% url 'delete' i.pk %}">Deletar</a>
                        </div>
                        <div id="card-page4">
                            <a href="{% url 'busca' %}">Buscar</a>
                        </div>
            </article>
        </li>
            {% endfor %}
            </ol>
        </section>

</body>

</html>